#header{
    background: #FAFAFA;
    .header{
        .header-t{
            font-size: 12px;
            height: 39px;
            border-bottom: 1px solid #F0F0F0;
              
        }
    }
   
}