body a:hover{
    text-decoration: none;
}
#ncToolbar {
    position: fixed;
    z-index: 1998;
    width: 35px;
    height: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    /* display: none; */
}
#ncToolbar .ncToolbar{
    width: 35px;
    height: 100%;
}
#ncToolbar .ncToolbar .ever{
    width: 35px;
    height: 147px;
    background-color: #000;
    position: absolute;
    z-index: 2;
    top: 50%;
    margin-top: -79px;
}
.ever .cart a{
    display: block;
    width: 35px;
    height: 100px;
    padding: 10px 0 0;
    border-top: dotted 1px #555;
    border-bottom: dotted 1px #555;
    position: relative;
    z-index: 1;
}
.icon{
    display: block;
    background: url(../images/ncToolbar.png) no-repeat;
    width: 35px;
    height: 35px;
}
.ever .chat{
    height: 46px;
}
.ever .chat a{
    display: block;
    width: 35px;
    height: 35px;
    padding: 5px 0 6px 0;
    position: relative;
    z-index: 1;
}
.cart .icon{
    background-position: 0 -120px;
}
.chat .icon{
    background-position: 0 0;
}
.cart .name{
    line-height: 16px;
    color: #FFF;
    display: block;
    text-align: center;
    width: 15px;
    padding: 0 10px;
    white-space: pre-wrap;
}
.tit{
    line-height: 25px;
    color: #FFF;
    background: url(../images/ncToolbar.png) no-repeat -50px 0;
    white-space: nowrap;
    display: none;
    width: 121px;
    height: 33px;
    padding: 4px 21px 4px 15px;
    position: absolute;
    z-index: 1;
    top: 4px;
    right: -6px;
    font-size: 10px;
}
.chat:hover {
    background: #EF3C79;
}
.shows:hover .tit{
    display: block;
}
.ncToolbar .variation{
    width: 35px;
    height: 100%;
    background-color: #000;
    position: relative;
    z-index: 1;
}
.ncToolbar .variation .middle{
    width: 35px;
    height: 250px;
    margin-top: -125px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
}
.middle .user .avatar{
    background-color: #FFF;
    width: 28px;
    height: 28px;
    margin: 3px auto 4px auto;
    border-radius: 14px;

}
.user .avatar img{
    width: 28px;
    height: 28px;
    border-radius: 14px;
    position: relative;
    z-index: 2;
}
.prech{
    width: 35px;
    height: 158px;
}
.compare{
    height: 46px;
}
.compare a{
    display: block;
    width: 35px;
    height: 46px;
    padding: 5px 0 6px 0;
    position: relative;
    z-index: 3;
}
.compare .icon{
    background-position: 0 -40px;
}
.compare:hover  {
    background: #EF3C79;
}
.gotop{
    position: fixed;
    bottom: 0;
}
.gotop a{
    opacity: 1;
    display: block;
    width: 35px;
    height: 35px;
    padding: 5px 0 6px 0;
    position: relative;
    z-index: 1;
}
.gotop .icon{
    background-position: 0 -80px;
}


#public-top-layout {
  background: #FAFAFA;
}
#public-top-layout .public-top-layout .header-t {
  font-size: 12px;
  height: 30px;
  border-bottom: 1px solid #F0F0F0;
}
.head-t-l{
    line-height: 30px;
}
.public-top-layout .header-t span,.head-t-r a{
    color: #777777;
}
.header-t span a{
    color: #333333;
}
.header-t .head-t-r{
    height: 30px;
}
.header-t .head-t-r li{
    width: 100px;
}
.header-t .head-t-r>li{
    float: left;
    line-height: 30px;
    position: relative;
}
.head-t-r>li>a{
    padding-left: 16px;
}
.head-t-r>li>i{
    display: inline-block;
    margin-left: 7px;
    vertical-align: middle;
    width: 6px;
    height: 3px;
    background: url(../images/nav_tb.png) no-repeat 0 0 ;
}
/* nva 右侧箭头旋转样式 */
.nav_jt_rotate{
    transform: rotate(180deg);
}
.head-t-r>li>ul>li{
    display: none;
    padding-left: 16px;
    height: 35px;
}
.head-t-r>li:hover{
    border: 1px solid #F0F0F0;
    background: #fff;
}
.head-t-r>li:hover>ul>li{
    display: block;
}
/* 头部搜索区 */
#header{
    border-bottom: 2px solid #EF3C79;
}

.header .header-c{
    padding-top: 38px;
    height: 138px;
}

.header-c .logo a{
    display: block;
    width: 220px;
    height: 60px;
    text-indent: -99999em;
    background: url(../images/logo.png);
}

.header-c .search{
    margin-left: 30px;
}
.header-c .search .searchMenu{
    width: 73px;
    height: 38px;
    border: 1px solid #CCCCCC;
    text-align: center;
    line-height: 38PX;
    font-size: 14px;
    color: #999999;
}
.searchMenu>i{
    display: inline-block;
    width: 9px;
    height: 5px;
    background: url(../images/nav_jt.png) no-repeat 0 0;
    vertical-align: middle;
    margin-left: 10px;
}
.search .searchText{
    width: 427px;
    height: 38px;
    border: 1px solid #CCCCCC;
    border-left:none;
    border-right:none;
    font-size: 12px;
    color:#757575;
    padding-left: 16px;
}
.search button{
    width: 84px;
    height: 38px;
    font-size: 18px;
    color:#FFFFFF;
    background: #EF3C79;
}
.search form{
    margin-bottom: 6px;
}
.search .keyword{
    width: 440px;
    height: 20px;
}
.search .keyword a{
    font-size: 12px;
    color:#999999;
    margin-right: 13px;
}
.my-mall,.my-cart{
    font-size: 12px;
    background: #FAFAFA;
    text-align: center;
    line-height: 42px;
    margin-left: 6px;
    border: 1px solid #F0F0F0;
}
.my-mall{
    width: 112px;
    height: 42px;
}
.my-cart{
    width: 128px;
    height: 42px;
}
.head-user-menu i{
    display: inline-block;
    width: 0;
    height: 0;
    border: 5px solid ;
    border-color: #777777 transparent transparent transparent;
    vertical-align: middle;
    margin-left: 8px;
}
/* 导航栏区 */

.nav .allGoods{
    width: 212px;
    height: 38px;
    background: #EF3C79;
    line-height: 38px;
}
.nav .allGoods>span>i{
    display: inline-block;
    width: 18px;
    height: 14px;
    background: url(../images/nav_tb.png) no-repeat -182px -186px;
    padding-left: 7px;
    margin-left: 9px;
    vertical-align: middle;
}
.nav .nav-r{
    margin-bottom: 0;
}
.nav .nav-r li{
    float: left;
}
.nav-r li a {
    display: inline-block;
    font-size: 16px;
    padding:0 24px;
    line-height: 38px;
    font-weight: 900;
    color:#000;
}
.nav-r li:hover a{
    color:#EF3C79;
}
.allGoods .nav2{
    display: none;
    position: relative;
    z-index: 5;
}
.allGoods:hover .nav2{
    display: block;
}
.allGoods .nav2>li{
    width: 212px;
    height: 34px;
    background: #F1F0EE;
    padding-left: 15px;
    font-size: 12px;
    position: relative;
}
.nav2>li:hover .nav3{
    display: block;
    background: #fff;
}
 .nav3{
    position: absolute;
    left: 212px;
    top: 0;
    width: 986px;
    height: 478px;
    background: #fff;
    display: none;
}
.nav3 .l1{
    line-height: 24px;
    padding: 9px 0 9px 20px;
}
.nav3 .l1 a{
    display: inline-block;
    height: 24px;
    padding: 0 9px;
    background: #7C7171;
    color:#fff;
    margin-right: 10px;
}
.nav3>li{
    line-height: 32px;
    padding-left: 53px;
    font-size: 12px;
    
}
.nav3 li>a{
    color:#555555;
}
.nav3>li i{
    display: inline-block;
    width: 3px;
    height: 5px;
    background: url(../images/nav_tb.png) no-repeat -197px -30px;
    vertical-align: middle;
    margin:0 15px 0 13px;
}
.nav3 li a>span{
    border-left: 1px solid #E7E7E7;
    padding: 0 10px;
    color:#7C7171;
}
.nav3 .l2>span{
    width: 630px;
    display: inline-block;
    border-bottom: 1px solid #F0F0F0;
}
.nav3 li:last-child>span{
    border-bottom: none;
}
.main .nch-layout{
    font-size: 10px;
    text-align: left;
    height: 40px;
    padding: 10px 0;
    margin: 0 auto;
    line-height: 20px;
    color:#777;
}
.main .nch-layout i{
    display: inline-block;
    font-size: 12px;
    color: #aaa;
    margin-right: 4px;
    width: 13px;
    height: 14px;
}
.main .nch-layout a{
    color:#777;
}
/* 导航排序 */
.main .shop_con_list{
    background: #F7F7F7;
    display: block;
    height: 37px;
    border: solid 1px #D7D7D7;
}
.main .shop_con_list .sort-bar{
    display: inline-block;
    float: right;
    padding: 0;
    margin: 7px 5px 0 0;
    text-align: center;
}
.shop_con_list .sort-bar .nav-page li{
    display: inline-block;
    font-size: 12px;
    border: 1px solid #ccc;
    padding: 2px 6px;
}
/* 吸顶 */
.navXiding{
    position: fixed;
    top: 0;
}
/* 可以点击上下一页时样式 */
.nav-page-onclick{
    background: #fff;
    color:#005AA0;
    cursor: pointer;
}
/* 排序样式 */
/* 点击时箭头转向 */
.paixu_ratate{
    transform: rotate(180deg);
}
.nch-sor-paixu {
    font-size: 12px;
    color:#777;
    display: inline-block;
    padding: 0 0 0 10px;
    height: 37px;
    line-height: 37px;
}
.nch-sor-paixu>span{
    float: left;
    border-right: 1px solid #ccc;
}
.nch-sor-paixu ul{
    float: left;
}
.nch-sor-paixu ul li{
    float: left;
    border-right: 1px solid #ccc;
}
.nch-sor-paixu ul li span{
    display: inline-block;
    padding:  0 13px
}
.nch-sor-paixu ul li i{
    display: inline-block;
    width: 7px;
    height: 8px;
    background: url(../images/gds_list_gb.png) no-repeat 0 -11px;
    vertical-align: middle;
    margin-left: 4px;
}
.sor-paixu-click{
    color:rgb(247, 154, 185);
}
.nch-sor-paixu ul li:hover{
    color:#EF3C79;
    cursor: pointer;
}
.squares>ul{
    height: 1525px;
}
.squares>ul>li{
    display: inline-block;
    overflow: hidden;
    width: 230px;
    height: 363px;
    border:  1px solid  #f0f0f0;
    margin: 12px 0 0 6px;
    
}
.squares>ul>li>.squares_gds_list{
    overflow: hidden;
    width: 230px;
    height: 363px;
    position: relative;
    text-align: center;
    cursor: pointer;
}

.squares .gds-img{
    width: 230px;
    height: 230px;
    padding: 5px 5px 0 ;
    margin: 0;
}
.squares .gds-img img{
    width: 220px;
    height: 220px;
}

.gds-cont {
    width: 224px;
    position: absolute;
    top: 220px;
    transition: all .5s;
    background: #fff;
    margin-left: 1px;
    /* overflow: hidden; */
    
}
.squares>ul>li:hover .squares_gds_list{
    position: absolute;
    z-index: 2;
    height: 445px;
    border: 2px solid #EF3C79;
}
.squares>ul>li:hover .gds-cont{
    top: 180px;
}

.gds_pic_show{
    width: 210px;
    height: 40px;
    padding: 5px 10px;
}
.gds_pic_show li{
    border: 1px solid #ccc;
    width: 28px;
    height: 28px;
    margin-right: 5px;
    display: inline-block;
}
.gds-name{
    font-size: 12px;
    line-height: 16px;
    padding: 0 10px;
    height: 32px;
    overflow: hidden;
}
.gds-name:hover{
    color:#EF3C79;
}
.gds-price{
    color: #EF3C79;
    font-size: 16px;
    display: block;
    height: 30px;
    padding: 5px 10px;
    font-weight: 600
}
.gds-price span:first-child{
    color:#999;
    font-size: 12px;
    text-decoration: line-through;
    margin-left: 10px;
    font-weight: 500;
}
.gds-price span:last-child{
    display: block;
    width: 60px;
    height: 20px;
    float: right;
}
.gds-price span:last-child img{
    width: 20px;
    height: 20px;
    padding: 2px;
}
.gds-sub {
    height: 39px;
    padding: 5px 10px 10px;
    font-size: 12px;
}
.gds-sub span{
    line-height: 20px;
    color: #999;
    background: rgba(255,255,255,0.9);
    height: 24px;
    float: right;
    padding: 1px 5px;
    border: solid 1px #EEE;
    cursor: pointer;
}
.gds-sub span i{
    background: url(../images/gds_list_gb.png) no-repeat -50px -100px;
    vertical-align: middle;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 4px;
}
.sell-stat{
    height: 50px;
    width: 212px;
    margin: 0 9px;
    border-top: 1px solid #ccc;
    overflow: hidden;
}
.sell-stat li{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 68px;
    height: 50px;
    padding: 5px;
    border-left: solid 1px #EEE;
    
    font-size: 12px;
}
.sell-stat li span{
    color:#B57C5B;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}
.store{
    width: 224px;
    line-height: 20px;
    background-color: #F5F5F5;
    text-align: center;
    display: block;
    height: 36px;
    clear: both;
    padding: 8px 0;
    border-top: solid 1px #EEE;
}
.store a{
    color: #333;
    font-size: 12px;
}
.store a:hover{
    text-decoration:none;
    color: #333;
}
.add_carts{
    position: absolute;
    left: -1px;
    width: 226px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    background-color: #EF3C79;
    text-align: center;
    display: block;
    height: 36px;
    padding: 8px 0;
    cursor: pointer;
    padding-right: 1px;
}
.add_carts i{
    display: inline-block;
    width: 13px;
    height: 14px;
    margin-right: 4px;
}
/* 分页样式 */
.pagination{
    text-align: center;
    margin: 0 auto;
    padding: 15px 0;
    cursor: pointer;
}
.pagination>div{
    display: inline-block;
}
.pagination span,
.pagination  ul li{
    float: left;
    margin-left: -1px;
    font-size: 12px;
    color: #000;
    background-color: #FFF;
    text-align: center;
    min-width: 38px;
    padding: 8px;
    border: 1px solid #E6E6E6;
    position: relative;
    z-index: 1;
    font-weight: 600;
}
/* .pagination  ul li:hover{
    border: 1px solid #EF3C79;
    z-index: 2;
} */
/* 页数字体颜色 */
.pagination .pagination_color{
    cursor: text;
    color:#aaa;
}
/* 选中页面颜色 */
.pagination .page{
    background: #EF3C79;
    color:#fff;
}
.pagination ul{
    float: left;
}
.pagination span:nth-of-type(1),
.pagination span:nth-of-type(3){
    margin-right: 8px;
}










/* wapper样式 */
.main .wrapper{
    height: 250px;
    border-bottom: 1px solid #EDEDED;
}
.wrapper .wrapper-l{
    width: 25%;
    padding: 30px 0;
}
.wrapper .wrapper-l .guangzhu{
    margin-top: 15px;
}
.wrapper-l .guangzhu .gz-l{
    margin: 0 14px 0 20px;
    line-height: 32px;
    color:#000;
}
.gz-wb,
.gz-wx{
    width: 32px;
    height: 32px;
    margin-right: 14px;
    position: relative;
}
.gz-wb>.popup,
.gz-wx>.popup{
    position: absolute;
    left: -40px;
    top: 50px;
    display: none;
}
.gz-wb:hover .popup,
.gz-wx:hover .popup{
    display: block;
}
.popup{
    width: 112px;
    height: 112px;
    text-align: center;
    line-height: 112px;
    border: 1px solid #eee;
    background: #fff;
}
.popup::after,.popup::before{
    content: '';
    position: absolute;
    border: 10px solid ;
}
.popup::before{
    border-color: transparent transparent #eee;
    top: -21px;
    left: 45px;
}
.popup::after{
    border-color: transparent transparent #fff;
    top: -19px;
    left: 45px;
}
.popup img{
    width: 100px;
    height: 100px;
}
.wrapper .wrapper-c {
    width: 55%;
    font-size: 12px;
    white-space: nowrap;
    padding: 30px 2% 60px 2%;
}
.wrapper .wrapper-c li{
    font-size: 12px;
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
    width: 25%;
    zoom: 1;
}
.wrapper-c li dl{
    display: block;
    width: 90%;
    margin: 0 auto;
}
.wrapper-c li dt{
    font: 600 16px/20px "microsoft yahei";
    color: #333;
    padding: 5px;
    margin: 5px 0 12px 0;
}
.wrapper-c li dd{
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    clear: both;
    padding: 2px 5px;
    overflow: hidden;
    margin-top: 5px;
}
.wrapper-c li dd a{
    color: #333;
}
.wrapper-r{
    padding: 30px 0;
}
.wrapper-r .wrapper-r-l{
    margin:0 11px;
}
.wrapper-r .wrapper-r-l p:first-child{
    margin-top: 8px;
    border: 1px solid #eee;
    padding: 5px;
    width: 96px;
    height: 96px;
}
.wrapper-r-l p:first-child img{
    width: 84px;`
    height: 84px;
}
.wrapper-r-l p:last-child span{
    font-size: 12px;
    color: #333;
    font-weight: 600;
}
.footer{
    height: 182px;
    margin: 15px auto;
    font-size: 12px;
    color:#666;
    text-align: center;
}
.footer p:first-child,
.footer p:nth-child(3){
    word-spacing: 5px;
    padding: 10px 0;
    text-align: center;
}
.footer p:first-child a,
.footer p:nth-child(3) a
{
    font-size: 12px;
    border-right: 1px solid #666;
    padding: 0 10px;
    color: #666;
}
.footer p:first-child a:last-child,
.footer p:nth-child(3) a:last-child{
    border: none;;
}
.footer p:nth-child(5) {
    padding: 10px 0;
    word-spacing: 5px;
}