#public-top-layout {
    background: #FAFAFA;
}
#public-top-layout .public-top-layout .header-t {
font-size: 12px;
height: 30px;
border-bottom: 1px solid #F0F0F0;
}
.head-t-l{
    line-height: 30px;
}
.public-top-layout .header-t span,.head-t-r a{
    color: #777777;
}
.header-t span a{
    color: #333333;
}
.header-t .head-t-r{
    height: 30px;
}
.header-t .head-t-r li{
    width: 100px;
}
.header-t .head-t-r>li{
    float: left;
    line-height: 30px;
    position: relative;
}
.head-t-r>li>a{
    padding-left: 16px;
}
.head-t-r>li>i{
    display: inline-block;
    margin-left: 7px;
    vertical-align: middle;
    width: 6px;
    height: 3px;
    background: url(../images/nav_tb.png) no-repeat 0 0 ;
}
/* nva 右侧箭头旋转样式 */
.nav_jt_rotate{
    transform: rotate(180deg);
}
.head-t-r>li>ul>li{
    display: none;
    padding-left: 16px;
    height: 35px;
}
.head-t-r>li:hover{
    border: 1px solid #F0F0F0;
    background: #fff;
}
.head-t-r>li:hover>ul>li{
    display: block;
}

.ncc-head-layout{
    height: 100px;
}
.site-logo{
width: 240px;
height: 60px;
margin: 20px 0;
}
.site-logo a{
display: block;
}
.site-logo a img{
    width: 220px;
    height: 60px;
}
.ncc-flow {
    width: 640px;
    height: 70px;
}

.ncc-title{
    height: 82px;
    padding: 15px 0;
    border: solid #F7F7F7;
    border-width: 1px 0 0;
    border-bottom: solid 1px #F5F5F5;
}
.ncc-title h3{
    font-size: 24px;
    color: #555;
}
.ncc-title h5{
    font-size: 12px;
    color: #AAA;
}
.ncc_gds_head{
    height: 40px;
    font-size: 12px;
    line-height: 20px;
    color: #666;
    background-color: #FAFAFA;
    text-align: center;
}
.ncc_gds_head .w50{
    width: 70px;
    padding: 10px;
    margin-right: 40px;
}
.ncc_gds_head .gods{
    width: 450px;
    padding: 10px;
}
.ncc_gds_head .w150{
    width: 170px;
    padding: 10px;
}
.ncc_gds_head .w100{
    width: 120px;
    padding: 10px;
}
.ncc_gds_head .w80{
    width: 100px;
    padding: 10px;
}
.ncc_gds_cont{
    height: 56px;
    font-size: 12px;
    line-height: 20px;
    color: #333;
    padding: 20px 10px 10px;
}
.ncc_gds_cont div{
    display: inline-block;
}
.ncc-store-name a{
    color:#333;
}
.ncc-store-sale{
    padding-right: 8px;
    border: dotted 1px #FF875A;
    margin-left: 20px;
    height: 26px;
    text-align: center;
    line-height: 26px;
}

.ncc-store-sale span{
    display: inline-block;
    height: 26px;
    margin-right: 8px;
    line-height: 26px;
    color: #FFF;
    background-color: #FF875A;
    vertical-align: top;
    padding:0 5px;
}
.ncc_gds_list li{
    border: 1px solid #ddd;
    height: 101px;
    margin-top: -1px;
}
.ncc_gds_list li div{
    display: inline-block
}
.check{
    background-color: #FEFEFE;
    width: 70px;
    padding: 8px 10px;
    text-align: center;
    vertical-align: top;

}
.check input{
    margin-top: 10px;
}
.list_100{
    width: 120px;
    padding: 8px 10px;
}
.list_100 a img{
    width: 80px;
    height: 80px;
    border: solid 1px #F5F5F5;
    
}
.ncc_gds_info{
    width: 375px;
    font-size: 12px;
    padding: 8px 10px;
    line-height: 24px;
    vertical-align: top;
}
.ncc_gds_info a{
    color:#000;
}
.goods-price{
    width: 133px;
    font-size: 12px;
    vertical-align: top;
    padding: 8px 10px;
    text-align: center;
    background-color: #FEFEFE;
    font-family: Tahoma;
    font-weight: 600;
    color: #333;
    line-height: 24px;
    margin-right: 15px;
}
.ws0{
    width: 120px;
    background-color: #FEFEFE;
    vertical-align: top;
    padding: 8px 10px;
    text-align: center;
    user-select: none;
}
.ws0 span{
    font-size: 14px;
    color: #555;
    background-color: #F5F5F5;
    letter-spacing: normal;
    word-spacing: normal;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    width: 26px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
} 
.ws0 input{
    width: 30px;
    height: 30px;
    color: #777;
    background-color: #FFF;
    vertical-align: top;
    display: inline-block;
    border: solid 1px #E6E9EE;
    text-align: center;
    line-height: 30px;
}
.goods-subtotal{
    width: 160px;
    vertical-align: top;
    padding: 8px 10px;
    text-align: center;
    color: #EF3C79;
    font-weight: 600;
    line-height: 24px;
    font-size: 12px;
}
.ncc-border-right {
    width: 100px;
    vertical-align: top;
    padding: 8px 10px;
    margin-left: 27px;
}
.ncc-border-right p{
    font-size: 12px;
    color: #333;
    cursor: pointer;
}
.totalPic{
    text-align: right;
    font-size: 12px;
    height: 36px;
    padding: 8px 10px;
}
.ncc_footer{
    height: 40px;
    background: #FAFAFA;
    text-align: right;
}
.ncc-all-account{
    color: #333;
    vertical-align: top;
    display: inline-block;
    height: 40px;
    margin-right: 10px;
    font-size: 12px;
}
.ncc-all-account span{
    font-size: 22px;
    line-height: 40px;
    font-family: Tahoma,arial;
    color: #EF3C79;
    margin: 0 4px;
}
.ncc_footer button{
    display: inline-block;
    width: 110px;
    height: 40px;
    background-color: #EF3C79;
    cursor: pointer;
    font-size: 20px;
    line-height: 40px;
    color:#fff;
    height: 40px;
}




  /* wapper样式 */
.main .wrapper{
    height: 216px;
    border-bottom: 1px solid #EDEDED;
    border-top: 1px solid #EDEDED;
    margin-top: 20px;
}
.wrapper .wrapper-l{
    width: 25%;
    padding: 30px 0;
}
.wrapper .wrapper-l .guangzhu{
    margin-top: 15px;
}
.wrapper-l .guangzhu .gz-l{
    margin: 0 14px 0 20px;
    line-height: 32px;
    color:#000;
}
.gz-wb,
.gz-wx{
    width: 32px;
    height: 32px;
    margin-right: 14px;
    position: relative;
}
.gz-wb>.popup,
.gz-wx>.popup{
    position: absolute;
    left: -40px;
    top: 50px;
    display: none;
}
.gz-wb:hover .popup,
.gz-wx:hover .popup{
    display: block;
}
.popup{
    width: 112px;
    height: 112px;
    text-align: center;
    line-height: 112px;
    border: 1px solid #eee;
    background: #fff;
}
.popup::after,.popup::before{
    content: '';
    position: absolute;
    border: 10px solid ;
}
.popup::before{
    border-color: transparent transparent #eee;
    top: -21px;
    left: 45px;
}
.popup::after{
    border-color: transparent transparent #fff;
    top: -19px;
    left: 45px;
}
.popup img{
    width: 100px;
    height: 100px;
}
.wrapper .wrapper-c {
    width: 55%;
    font-size: 12px;
    white-space: nowrap;
    padding: 30px 2% 60px 2%;
}
.wrapper .wrapper-c li{
    font-size: 12px;
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
    width: 25%;
    zoom: 1;
}
.wrapper-c li dl{
    display: block;
    width: 90%;
    margin: 0 auto;
}
.wrapper-c li dt{
    font: 600 16px/20px "microsoft yahei";
    color: #333;
    padding: 5px;
    margin: 5px 0 12px 0;
}
.wrapper-c li dd{
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    clear: both;
    padding: 2px 5px;
    overflow: hidden;
    margin-top: 5px;
}
.wrapper-c li dd a{
    color: #333;
}
.wrapper-r{
    padding: 30px 0;
}
.wrapper-r .wrapper-r-l{
    margin:0 11px;
}
.wrapper-r .wrapper-r-l p:first-child{
    margin-top: 8px;
    border: 1px solid #eee;
    padding: 5px;
    width: 96px;
    height: 96px;
}
.wrapper-r-l p:first-child img{
    width: 84px;`
    height: 84px;
}
.wrapper-r-l p:last-child span{
    font-size: 12px;
    color: #333;
    font-weight: 600;
}
.footer{
    height: 182px;
    margin: 15px auto;
    font-size: 12px;
    color:#666;
    text-align: center;
}
.footer p:first-child,
.footer p:nth-child(3){
    word-spacing: 5px;
    padding: 10px 0;
    text-align: center;
}
.footer p:first-child a,
.footer p:nth-child(3) a
{
    font-size: 12px;
    border-right: 1px solid #666;
    padding: 0 10px;
    color: #666;
}
.footer p:first-child a:last-child,
.footer p:nth-child(3) a:last-child{
    border: none;;
}
.footer p:nth-child(5) {
    padding: 10px 0;
    word-spacing: 5px;
}